{% extends "base.html" %}
{% block body %}
<div data-role="page" data-title="Control" id="control" data-add-back-btn="true">
    <div data-role="header" data-theme="b">
        <h1>PS3 Remote Control</h1>
        <h4>{{d.id}}</h4>
    </div>

    <div data-role="content" style="text-shadow: none;">
        <!--

        -->
        <div id="remote">
            <svg viewBox="0 0 200 710">
                <g opacity="1">
                    <rect x="0" y="0" width="200" height="800" fill="silver" />
                </g>
                <g transform="translate(0, 20)">
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_POWER_OFF');">
                        <g transform="translate(40, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="11" class="fas" text-anchor="middle" alignment-baseline="middle"
                                font-size="14" fill="red">&#xF011;</text>
                            <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="6" fill="white">POWER
                                OFF</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_POWER');">
                        <g transform="translate(87.5, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="11" class="fas" text-anchor="middle" alignment-baseline="middle"
                                font-size="14" fill="white">&#xF011;</text>
                            <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="6" fill="white">TOGGLE</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_POWER_ON');">
                        <g transform="translate(135, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="11" class="fas" text-anchor="middle" alignment-baseline="middle"
                                font-size="14" fill="green">&#xF011;</text>
                            <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="6" fill="white">POWER
                                ON</text>
                        </g>
                    </a>
                </g>
                <g transform="translate(0, 60)">
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_1');">
                        <g transform="translate(40, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="14" fill="white">1</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_2');">
                        <g transform="translate(87.5, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="14" fill="white">2</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_3');">
                        <g transform="translate(135, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="14" fill="white">3</text>
                        </g>
                    </a>
                </g>
                <g transform="translate(0, 100)">
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_4');">
                        <g transform="translate(40, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="14" fill="white">4</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_5');">
                        <g transform="translate(87.5, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="14" fill="white">5</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_6');">
                        <g transform="translate(135, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="14" fill="white">6</text>
                        </g>
                    </a>
                </g>
                <g transform="translate(0, 140)">
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_7');">
                        <g transform="translate(40, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="14" fill="white">7</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_8');">
                        <g transform="translate(87.5, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="14" fill="white">8</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_9');">
                        <g transform="translate(135, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="14" fill="white">9</text>
                        </g>
                    </a>
                </g>
                <g transform="translate(0, 180)">
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_TAPE');">
                        <g transform="translate(40, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">TAPE</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_0');">
                        <g transform="translate(87.5, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="14" fill="white">0</text>
                        </g>
                    </a>
                    <!-- UNCERTAION KEY_RADIO SHOULD BE FM / RND TV/AV -->
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_RADIO');">
                        <g transform="translate(135, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">RND</text>
                            <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">FM</text>
                        </g>
                    </a>
                </g>
                <g transform="translate(0, 220)">
                    <!-- Was SHIFT -->
                    <!--a onclick="clickedOp('{{ d.id }}', 'KEY_TAPE');">
                        <g transform="translate(40, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">TAPE</text>
                        </g>
                    </a-->
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_MCH');">
                        <g transform="translate(87.5, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">MCH</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_AM');">
                        <g transform="translate(135, 0)">
                            <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                            <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">RPT</text>
                            <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">AM</text>
                        </g>
                    </a>
                </g>
                <g transform="translate(0, 260)">
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_DVD');">
                        <g transform="translate(20, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">DVD</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_SAT');">
                        <g transform="translate(65, -5)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">SAT</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_TV');">
                        <g transform="translate(110, -5)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">AV</text>
                        </g>
                    </a>
                    <!-- IS THIS CORRECT? -->
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_RADIO');">
                        <g transform="translate(155, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">TUN</text>
                        </g>
                    </a>
                </g>
                <g transform="translate(0, 295)">
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_NET');">
                        <g transform="translate(20, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">NET</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_AUX');">
                        <g transform="translate(65, -5)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">AUX</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_VCR');">
                        <g transform="translate(110, -5)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">VCR</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_CD');">
                        <g transform="translate(155, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">CD</text>
                        </g>
                    </a>
                </g>
                <g transform="translate(0, 320)">
                    <g transform="translate(49,0)">
                        <circle cx="51" cy="51" r="51" fill="black" stroke="gray" />
                    </g>
                    <g transform="translate(100,51)">
                        <a onclick="clickedOp('{{ d.id }}', 'KEY_OK');">
                            <circle cx="0" cy="0" r="20" fill="black" stroke="gray" />
                            <text x="0" y="0" text-anchor="middle" alignment-baseline="middle" font-size="10" fill="white">OK</text>
                        </a>
                    </g>
                    <g transform="translate(100, 2)">
                        <a onclick="clickedOp('{{ d.id }}', 'KEY_UP');">
                            <circle cx="0" cy="12.5" r="12.5" fill="black" stroke-width="0" />
                            <text x="0" y="13" text-anchor="middle" alignment-baseline="middle" font-size="20" fill="gray"
                                class="fas">&#xF062;</text>
                        </a>
                    </g>
                    <g transform="translate(51, 0)">
                        <a onclick="clickedOp('{{ d.id }}', 'KEY_LEFT');">
                            <circle cx="12.5" cy="51" r="12.5" fill="black" stroke-width="0" />
                            <text x="12.5" y="49" text-anchor="middle" alignment-baseline="middle" font-size="20" fill="gray"
                                class="fas">&#xF060;</text>
                        </a>
                    </g>
                    <g transform="translate(124, 0)">
                        <a onclick="clickedOp('{{ d.id }}', 'KEY_RIGHT');">
                            <circle cx="12.5" cy="51" r="12.5" fill="black" stroke-width="0" />
                            <text x="12.5" y="49" text-anchor="middle" alignment-baseline="middle" font-size="20" fill="gray"
                                class="fas">&#xF061;</text>
                        </a>
                    </g>
                    <g transform="translate(100, 75)">
                        <a onclick="clickedOp('{{ d.id }}', 'KEY_DOWN');">
                            <circle cx="0" cy="12.5" r="12.5" fill="black" stroke-width="0" />
                            <text x="0" y="10" text-anchor="middle" alignment-baseline="middle" font-size="20" fill="gray"
                                class="fas">&#xF063;</text>
                        </a>
                    </g>
                </g>
                <g transform="translate(0, 425)">
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_MODE');">
                        <g transform="translate(20, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">MODE</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_MUTE');">
                        <g transform="translate(65, 5)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="11" text-anchor="middle" alignment-baseline="middle" font-size="14" class="fas" fill="white">&#xF6A9;</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_DISPLAY');">
                        <g transform="translate(110, 5)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">DISP</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_MENU');">
                        <g transform="translate(155, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">MENU</text>
                        </g>
                    </a>
                </g>
                <g transform="translate(0, 470)">
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_VOLUMEDOWN');">
                        <g transform="translate(20, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="11" text-anchor="middle" alignment-baseline="middle" font-size="14" class="fas" fill="white">&#xF027;</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_VOLUMEUP');">
                        <g transform="translate(65, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="11" text-anchor="middle" alignment-baseline="middle" font-size="14" class="fas" fill="white">&#xF028;</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_CHANNELDOWN');">
                        <g transform="translate(110, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="11" text-anchor="middle" alignment-baseline="middle" font-size="14" class="fas" fill="white">&#xF048;</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_CHANNELUP');">
                        <g transform="translate(155, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="11" text-anchor="middle" alignment-baseline="middle" font-size="14" class="fas" fill="white">&#xF051;</text>
                        </g>
                    </a>
                </g>
                <g transform="translate(0, 510)">
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_REWIND');">
                        <g transform="translate(20, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="11" text-anchor="middle" alignment-baseline="middle" font-size="14" class="fas" fill="white">&#xF048;</text>
                                <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">DIRECT</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_PLAY');">
                        <g transform="translate(65, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="11" text-anchor="middle" alignment-baseline="middle" font-size="14" class="fas" fill="white">&#xF04B;</text>
                                <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">EQ</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_PAUSE');">
                        <g transform="translate(110, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="11" text-anchor="middle" alignment-baseline="middle" font-size="14" class="fas" fill="white">&#xF04C;</text>
                                <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">THX</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_FORWARD');">
                        <g transform="translate(155, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="11" text-anchor="middle" alignment-baseline="middle" font-size="14" class="fas" fill="white">&#xF04E;</text>
                                <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">FX</text>
                        </g>
                    </a>
                </g>
                <g transform="translate(0, 550)">
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_EJECT');">
                        <g transform="translate(20, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="11" text-anchor="middle" alignment-baseline="middle" font-size="14" class="fas" fill="white">&#xF052;</text>
                                <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">FAV</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_SYNC');">
                        <g transform="translate(65, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="11" text-anchor="middle" alignment-baseline="middle" font-size="14" class="fas" fill="white">&#xF04D;</text>
                                <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">SYNC</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_SUB');">
                        <g transform="translate(110, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="11" text-anchor="middle" alignment-baseline="middle" font-size="14" class="fas" fill="white">&#xF111;</text>
                                <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">SUB</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_SRCH');">
                        <g transform="translate(155, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">SRCH</text>
                                <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">TRIM</text>
                        </g>
                    </a>
                </g>
                <g transform="translate(0, 590)">
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_FAVORITE_DOWN');">
                        <g transform="translate(20, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="14" fill="white">F-</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_FAVORITE_UP');">
                        <g transform="translate(65, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="14" fill="white">F+</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_TUNE_DOWN');">
                        <g transform="translate(110, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="11" text-anchor="middle" alignment-baseline="middle" font-size="14" class="fas" fill="white">&#xF13A;</text>
                                <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">TUNE DOWN</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_TUNE_UP');">
                        <g transform="translate(155, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="11" text-anchor="middle" alignment-baseline="middle" font-size="14" class="fas" fill="white">&#xF139;</text>
                                <text x="12.5" y="-4" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">TUNE UP</text>
                        </g>
                    </a>
                </g>
                <g transform="translate(0, 630)">
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_PHONO');">
                        <g transform="translate(20, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">PHON</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_IPOD');">
                        <g transform="translate(65, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">IPOD</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_PVR');">
                        <g transform="translate(110, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">PVR</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_HOME');">
                        <g transform="translate(155, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">HOME</text>
                        </g>
                    </a>
                </g>
                <g transform="translate(0, 670)">
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_INFO');">
                        <g transform="translate(20, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">INFO</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_TMODE');">
                        <g transform="translate(65, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">TMOD</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_DYNAMIC');">
                        <g transform="translate(110, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">DYN</text>
                        </g>
                    </a>
                    <a onclick="clickedOp('{{ d.id }}', 'KEY_BAND');">
                        <g transform="translate(155, 0)">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="black" stroke="gray" />
                                <text x="12.5" y="13" text-anchor="middle" alignment-baseline="middle" font-size="8" fill="white">BAND</text>
                        </g>
                    </a>
                </g>
        
            </svg>
        </div>
    </div>
    <ul data-role="listview" data-inset="true" data-icon="false">
        {% for c in d.codes %}
        <li><a onclick="clickedOp('{{ d.id }}', '{{ c }}')">{{ c }}</a></li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}